.replay
{
    display: flex;
    width: 90%;
    padding: 10px;
    align-items: center;
    background-color: rgb(179, 179, 179);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    justify-items: center;
    align-self: center;
    justify-content: space-between;
    
}
.replay-section
{
    border-radius: 10px;
    resize: none;
    width: 86%;
    text-align: left;
    padding: 5px;
  
}