.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  gap: 50px;
}
.sign-img {
  height: 10%;
}
.signin-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  

  border: 1px solid rgb(174, 172, 172);
  box-shadow: 10px 5px 5px rgba(112, 112, 112, 0.566);
  width: 32%;
  border-radius: 10px;
  padding: 2%;
  align-self: center;
  margin: 0;
}
.side-in {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  align-self: flex-start;
  justify-content: center;
}
.sign-img {
  width: 70%;
  align-self: center;
  height: 50%;
  box-shadow: 10px 5px 5px rgba(112, 112, 112, 0.566);
}
.container-in {
  display: flex;
  align-self: center;
  width: 70%;
  align-items: center;
  justify-content: space-around;
}
